body{
    background-color: #530f0f;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #000000;
    text-align: center;
    }
.about{
    background-color: yellow;
}
.skills {
    background-color: #e0ab47;
    color: white;
 
}
.projects {
    display: flex;
    flex-wrap:wrap;
}
.projects {
    background: #fdfdfd;
    padding: 20px 10px;
    border-radius: 25px;
    margin: 10px;
    width: 30%;
}

.contact {
    background-color: #ae2727;
    color: white;
}

a {
    color: #dbd034;
}

a:hover {
    text-decoration: underline;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(21, 90, 47); /* choose a color */
    display: block;
    margin: auto;
    }